# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/QIX/.vs/DxLibTest/v15/ipch/AutoPCH/ed574d86ca13e943/SOURCE.ipch
/QIX/.vs/DxLibTest/v15/Browse.VC.opendb
/QIX/.vs/DxLibTest/v15/Browse.VC.db
/QIX/DxLibTest/x64/Debug/vc141.pdb
/QIX/DxLibTest/x64/Debug/vc141.idb
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.write.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.read.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.command.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/DxLibTest.lastbuildstate
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.write.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.read.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.command.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.log
/QIX/x64/Debug/DxLibTest.pdb
/QIX/x64/Debug/DxLibTest.ilk
/QIX/.vs/DxLibTest/v15/.suo
*.ipch
*.log
/QIX/.vs/QIX/v15/Solution.VC.db-wal
/QIX/.vs/QIX/v15/Solution.VC.db-shm
/QIX/.vs/QIX/v15/Solution.VC.db
/QIX/.vs/QIX/v15/Browse.VC.opendb
/QIX/.vs/QIX/v15/Browse.VC.db
/QIX/.vs/QIX/v15/.suo
/QIX/DxLibTest/x64/Debug/QIX.tlog/QIX.lastbuildstate
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.write.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.read.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.command.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.write.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.read.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.command.1.tlog
/QIX/x64/Debug/QIX.pdb
/QIX/x64/Debug/QIX.ilk
/QIX/DxLibTest/x64/Debug/*
/QIX/QIX/Log.txt
/QIX/Debug/QIX.pdb
/QIX/Debug/QIX.ilk
/QIX/QIX/Release/vc141.pdb
/QIX/QIX/Release/QIX.tlog/QIX.write.1u.tlog
/QIX/QIX/Release/QIX.tlog/QIX.lastbuildstate
/QIX/QIX/Release/QIX.tlog/link.write.1.tlog
/QIX/QIX/Release/QIX.tlog/link.read.1.tlog
/QIX/QIX/Release/QIX.tlog/link.command.1.tlog
/QIX/QIX/Release/QIX.tlog/CL.write.1.tlog
/QIX/QIX/Release/QIX.tlog/CL.read.1.tlog
/QIX/QIX/Release/QIX.tlog/CL.command.1.tlog
/QIX/Release/QIX.pdb
/QIX/Release/QIX.ipdb
/QIX/Release/QIX.iobj
/QIX/QIX/Debug/*.idb
/QIX/QIX/Debug/*.pdb
/QIX/QIX/Debug/QIX.tlog/*.tlog
/QIX/QIX/Debug/QIX.tlog/*.lastbuildstate
/QIX/QIX/x64/Debug/vc141.pdb
/QIX/QIX/x64/Debug/vc141.idb
/QIX/QIX/x64/Debug/QIX.tlog/QIX.lastbuildstate
/QIX/QIX/x64/Debug/QIX.tlog/link.write.1.tlog
/QIX/QIX/x64/Debug/QIX.tlog/link.read.1.tlog
/QIX/QIX/x64/Debug/QIX.tlog/link.command.1.tlog
/QIX/QIX/x64/Debug/QIX.tlog/CL.write.1.tlog
/QIX/QIX/x64/Debug/QIX.tlog/CL.read.1.tlog
/QIX/QIX/x64/Debug/QIX.tlog/CL.command.1.tlog
Debug
/sonicball/.vs/sonicball/v15/Browse.VC.opendb
/sonicball/.vs/sonicball/v15/Browse.VC.db
/sonicball/.vs/sonicball/v15/.suo
/sonicball/sonicball/img/title.png
/sonicball/sonicball/img/title/title_gate.png
/sonicball/sonicball/img/title/sonic_logo.png
/sonicball/sonicball/img/title/pressstart.png
/sonicball/sonicball/img/title/portal2d_logo.png
/sonicball/sonicball/img/title/parallax-industrial-web.txt
/sonicball/sonicball/img/title
/sonicball/sonicball/img/scaffold.png
/sonicball/sonicball/img/s/redportal.png
/sonicball/sonicball/img/s/blueportal.png
/sonicball/sonicball/img/s
/sonicball/sonicball/img/redportal.png
/sonicball/sonicball/img/raygun.png
/sonicball/sonicball/img/pressstart.png
/sonicball/sonicball/img/portalBullet.png
/sonicball/sonicball/img/portalbase.png
/sonicball/sonicball/img/player_anim.png
/sonicball/sonicball/img/player.png
/sonicball/sonicball/img/bullet.png
/sonicball/sonicball/img/blueportal.png
/sonicball/sonicball/img/bk/redportal.png
/sonicball/sonicball/img/bk/blueportal.png
/sonicball/sonicball/img/bg.png
/sonicball/sonicball/img/backfire.png
/sonicball/sonicball/se/puni.mp3
/sonicball/sonicball/se/pop.mp3
/sonicball/sonicball/se/menuopen.wav
/sonicball/sonicball/se/menuclose.wav
/sonicball/sonicball/se/beam.mp3
/sonicball/sonicball/sonicball.vcxproj.user
/sonicball/sonicball/Log.txt
