# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/QIX/.vs/DxLibTest/v15/ipch/AutoPCH/ed574d86ca13e943/SOURCE.ipch
/QIX/.vs/DxLibTest/v15/Browse.VC.opendb
/QIX/.vs/DxLibTest/v15/Browse.VC.db
/QIX/DxLibTest/x64/Debug/vc141.pdb
/QIX/DxLibTest/x64/Debug/vc141.idb
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.write.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.read.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/link.command.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/DxLibTest.lastbuildstate
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.write.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.read.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.tlog/CL.command.1.tlog
/QIX/DxLibTest/x64/Debug/DxLibTest.log
/QIX/x64/Debug/DxLibTest.pdb
/QIX/x64/Debug/DxLibTest.ilk
/QIX/.vs/DxLibTest/v15/.suo
*.ipch
*.log
/QIX/.vs/QIX/v15/Solution.VC.db-wal
/QIX/.vs/QIX/v15/Solution.VC.db-shm
/QIX/.vs/QIX/v15/Solution.VC.db
/QIX/.vs/QIX/v15/Browse.VC.opendb
/QIX/.vs/QIX/v15/Browse.VC.db
/QIX/.vs/QIX/v15/.suo
/QIX/DxLibTest/x64/Debug/QIX.tlog/QIX.lastbuildstate
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.write.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.read.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/link.command.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.write.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.read.1.tlog
/QIX/DxLibTest/x64/Debug/QIX.tlog/CL.command.1.tlog
/QIX/x64/Debug/QIX.pdb
/QIX/x64/Debug/QIX.ilk
/QIX/DxLibTest/x64/Debug/*
/QIX/QIX/Log.txt
